/* styles for my resume */

body {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 1em;
	color:  #444;
	font-weight:  400;
}

/* name at top of page*/

h1 {
	font-size: 3em;
	color: #33485e;
	text-transform:  uppercase;
}

/* picture of me */

img {
	display: none;
}

/* self title (visual journalist) */
b {
	text-transform:  uppercase;
	font-size:  1.5em;
	color:  #33485e;
}

/* section headers*/
h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	background-color:  #33485e;
	color:  white;
	font-weight:  400;

}

/*job titles*/

h3 {
	font-weight: 600;
	font-size: 1.5em;
}

/* Employer*/

h4 {
	font-weight: 400;
	font-size: 1.5em;
}

/* dates */
h5 {
	font-weight: 400;
	font-style: italic;
	font-size: 1em;

}

/* lists */
ul li {
	font-size: 1em;
}
